/* body {
  background-image: url('https://i.pinimg.com/originals/52/f3/96/52f3965be991f6bda772ec7ea0ef62f6.jpg');
    background-attachment: fixed;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  body {
    background: linear-gradient(135deg, hsl(146, 31%, 82%), #f5f1ee, hsl(194, 100%, 69%)); /* Gradient background */
    color: #333; /* Dark text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: 400% 400%;
    animation: gradientBG 1s ease infinite;
}
  

  header {
    background-color:indigo;
    text-align: center;
    padding: 3px;
    color: white;
    font-size: 2em;
    
  }

  nav {
    background-color: black;
    padding:3px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.image{
  float:right;
  text-align: right;
 }

  a{
    text-decoration:none;
    color:white;
    padding-right: 10px;
  }
  p {
    font-size: 1.2em;
    text-align: center;
    margin: 20px;
    color: white;
  }

  footer {
    color: white;
    background-color: black;
    margin:0;
    padding-top: 40px;
    text-align: left;
    line-height: 20px;
  }

  h3 {
    padding-bottom: 60px;
    color: white;
    text-align: center;
  }

  #f1 {
    padding-left: 10px;
    text-decoration: none;
    color: white;

  }
 
