/* body {
  background-image: url('https://i.pinimg.com/originals/52/f3/96/52f3965be991f6bda772ec7ea0ef62f6.jpg');
    background-attachment: fixed;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  body {
    background: linear-gradient(135deg, hsl(146, 31%, 82%), #f5f1ee, hsl(194, 100%, 69%)); /* Gradient background */
    color: #333; /* Dark text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: 400% 400%;
    animation: gradientBG 20s ease infinite;
}
  

  header {
    background-color:indigo;
    text-align: center;
    padding: 3px;
    color: white;
    font-size: 2em;
    
  }

  nav {
    background-color: black;
    padding: 1px 0;
    text-align: left;
  }
.image{
  float:right;
  margin-right:20px;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2em;
    padding-left: 8px;
    padding-top: 3px;


  }

  .dropdown .content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px black;
    z-index: 1;
    text-align: left;
    min-width: 150px;
    border: 1px solid black;
    border-radius: 15px;
  }

  .dropdown .content a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    right: 3px;

  }

  .dropdown:hover .content {
    display: block;
    border-radius: 15px;
  }

  .dropdown:hover button {
    background-color: indigo;
    color: black;
    margin-top: 1px;

  }

  .dropdown .content a:hover {
    background-color: indigo;
    color: white;
    border-radius: 20px;
  }

  p {
    font-size: 1.2em;
    text-align: center;
    margin: 20px;
    color: white;
  }

  footer {
    color: white;
    background-color: black;
    margin:0;
    padding-top: 40px;
    text-align: left;
    line-height: 20px;
  }

  h3 {
    padding-bottom: 60px;
    color: white;
    text-align: center;
  }

  #f1 {
    padding-left: 10px;
    text-decoration: none;
    color: white;

  }
 
